build
*~
dist/*.tar.gz
dist/*.tar.gz.asc
lintian-tags
lintian-brush-tags
__pycache__
*.pyc
lintian_brush.egg-info/
.testrepository/
.mypy_cache
target
lintian_brush/_lintian_brush_rs.*.so
*.swp
debianize/_debianize_rs.*.so
py/lintian_brush/_lintian_brush_rs.*.so
py/lintian_brush/_debianize_rs.*.so
