*~
lintian-tags
lintian-brush-tags
.testrepository/
target
lintian_brush/_lintian_brush_rs.*.so
*.swp
debianize/_debianize_rs.*.so
py/lintian_brush/_lintian_brush_rs.*.so
py/lintian_brush/_debianize_rs.*.so
.cargo-checksum.json
Cargo.lock.saved
Cargo.lock.upstream
