Source: test-package
Section: misc
Priority: optional
Maintainer: Test User <test@example.com>
Standards-Version: 4.6.0

Package: test-package
Architecture: all
Depends: foo, libbar1
Recommends: foo, some-other-package
Suggests: libbar1, yet-another-package
Description: Test package
 This is a test package.
