Source: blah
Section: python
Maintainer: Basil Saeed <basil@email.org>
Standards-Version: 0.1.0

Package: blah-doc
Section: doc
Architecture: all
Depends:
 python3-flah,
Suggests:
 python-automation-doc,
Description:
 example description.
