Source: blah
Section: python
Maintainer: Basil Saeed <basil@email.org>
Standards-Version: 0.1.0

Package: blah-doc
Section: doc
Architecture: all
Depends:
 blah-doc,
 python3-extra,
Pre-Depends:
 blah-doc,
 python3-extra,
Recommends:
 blah-doc,
 python3-extra,
Suggests:
 blah-doc,
 python3-extra,
Enhances:
 blah-doc,
 python3-extra,
Breaks:
 blah-doc,
 python3-extra,
Conflicts:
 blah-doc,
 python3-extra,
Description:
 example description.
